<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.apache.commons.jexl2" level="INFO"/>
    <logger name="com.charles" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <!--<springProfile name="local,dev,test">-->
    <!--<logger name="jdbc.sqltiming" level="INFO"/>-->
    <!--<logger name="com.charles" level="DEBUG" additivity="false">-->
    <!--<appender-ref ref="CONSOLE"/>-->
    <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->
    <!--</springProfile>-->

    <!--<springProfile name="uat,prod">-->
    <!--<logger name="jdbc.sqltiming" level="WARN"/>-->
    <!--<logger name="com.charles" level="WARN" additivity="false">-->
    <!--<appender-ref ref="CONSOLE"/>-->
    <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->
    <!--</springProfile>-->
</configuration>